# Run firebird server for integration tests

services:
  firebird:
    image: firebirdsql/firebird:5.0.3@sha256:fae04214a2882b23cddc78310ef213a6a0d2b386ade858e1a2840057437ae71b
    ports:
      - 127.0.0.1:3050:3050/tcp
    environment:
      FIREBIRD_DATABASE: testdb.fdb
      FIREBIRD_USER: testuser
      FIREBIRD_PASSWORD: testpass
